<h1>
  {{title}}
</h1>

<button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>
<button routerLink="/orders/search">Orders Search</button>
<button routerLink="/orders/page1">Orders Page1</button>
<button routerLink="/orders/list">Orders List</button>
<button routerLink="/orders">Order Home Child of Orders</button>
<button routerLink="/orders/details-child">Orders Details Child of Orders</button>
<button routerLink="">Home</button>

<router-outlet></router-outlet>

